* {
  font-family: "Times New Roman", Times, serif;
}


#primary-title {
  font-size: 300%;
}
/* website styling */
#page-title {
  margin-top: 70px;
}

.prevent-page {
  margin:30px;
  padding:25px;
}

#sec-head {
  text-align: center;
}

/* Container holding the image and the text */
.img-container {
  position: relative;
  margin-top: 50px;
  text-align: center;
  color: white;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* LINE CHART */
path.line-0 {
fill: none;
stroke: deepskyblue;
stroke-width: 3;
}
path.line-1 {
fill: none;
stroke: #ed3700;
stroke-width: 3;
}
.serie_label {
fill: #2b2929;
font-family: Georgia;
font-size: 80%;
}
/* ticks */
.axis line{
stroke: #706f6f;
stroke-width: 0.5;
shape-rendering: crispEdges;
}
/* axis contour */
.axis path {
stroke: #706f6f;
stroke-width: 0.4;
shape-rendering: crispEdges;
}
/* axis text */
.axis text {
fill: #2b2929;
font-family: Georgia;
font-size: 50%;
}

.lymeChart-canvas {

}

/* choropleth css*/

#map,
body,
html {
  height: 600px;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}
